.App{
  min-height: 100vh;
  background-color: aquamarine;
}

.navbar{
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

#nav-links{
  display: flex;
  gap: 1em;
  list-style-type: none;
}